article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: 700;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: 2 1 C 2 1 D 2 18 2 19;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}
input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body,
figure {
  margin: 0;
}
legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: secret;
  src: url("../fonts/Secret_Words_Script Regular.otf");
}
body {
  background: #6495ed;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #fff;
  line-height: 1.3;
}
p {
  font-size: 19px;
  line-height: 1.5;
}
h1 {
  font-family: secret;
  font-size: 50px;
  color: #31312f;
  text-transform: lowercase;
}
a {
  text-decoration: none;
}
h2 {
  text-align: center;
  font-size: 30px;
  padding: 20px;
  font-weight: 100;
  text-align: left;
  padding-left: 0;
  color: #31312f;
  font-weight: 400;
  font-family: secret;
  text-transform: lowercase;
}
h2.twitter-text {
  padding-top: 40px;
}
h2 span {
  color: #f7ef8a;
  font-size: 40px;
  font-family: secret;
}
h3 {
  color: #f7ef8a;
  font-size: 25px;
  line-height: 1.1;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 100;
  text-transform: lowercase;
  text-align: center;
  max-width: 217px;
  margin: 0 auto;
  margin-top: 37px;
}
.wrapper {
  max-width: 682px;
  margin: 0 auto;
  padding: 0px 23px;
}
.outerWrapper {
  max-width: 720px;
  border: 3px solid #fff;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
.headerWrapper {
  max-width: 1000px;
  margin: 0 auto;
}
.button {
  background: none;
  border: none;
  padding: 14px 14px;
  background: #6495ed;
  color: #fff;
}
.button.button-reg {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  border: 2px solid #fff;
  position: relative;
  top: 26px;
}
.st0 {
  fill: none;
}
form {
  width: 100%;
  margin: 0 auto;
  text-align: left;
}
section:nth-child(1) {
  padding-top: 25px;
}
.section__results {
  display: none;
}
input {
  width: 100%;
  height: 50px;
  background: none;
  border: 3px solid #fff;
  display: inline-block;
  color: #f7ef8a;
  text-transform: uppercase;
  padding-left: 13px;
  outline: none;
}
input:focus {
  border: 3px solid #f7ef8a;
}
input[type="submit"] {
  width: 100px;
  color: #fff;
  font-family: 'Arimo', sans-serif;
  text-transform: uppercase;
  padding-left: 10px;
  border: 3px solid #fff;
}
input[type="submit"]:hover {
  background: #f7ef8a;
  border: 3px solid #f7ef8a;
  color: #000;
}
input[type="submit"].highlight {
  background: #f7ef8a;
  border: 3px solid #f7ef8a;
  color: #000;
}
::-webkit-input-placeholder {
  color: #fff;
}
.userOne.hide {
  display: none;
}
.description p {
  margin: 0;
}
header {
  width: 100%;
  height: 100vh;
  background: #f7ef8a;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 35px;
}
header .introText {
  max-width: 550px;
  width: 90%;
  float: left;
  color: #31312f;
}
header .bird {
  width: 160px;
  float: left;
  animation: bird 1.5s linear infinite;
  position: relative;
  top: 20px;
}
@-moz-keyframes bird {
  0% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(-15deg);
  }
}
@-webkit-keyframes bird {
  0% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(-15deg);
  }
}
@-o-keyframes bird {
  0% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(-15deg);
  }
}
@keyframes bird {
  0% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(-15deg);
  }
}
.box {
  width: calc(50% - 20px);
  margin: 10px;
  height: 340px;
  float: left;
  background: #3f3f3d;
  position: relative;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.box .box__track {
  position: absolute;
  bottom: -5px;
  left: 0;
}
.box .box__track iframe {
  width: 100%;
}
.box .box__icon {
  width: 95px;
  margin: 0 auto;
  position: relative;
  top: 27px;
}
.box:nth-child(1) .box__icon {
  top: 38px;
}
.box:nth-child(2) .box__icon {
  top: 40px;
  width: 109px;
}
.box:nth-child(4) .box__icon {
  width: 103px;
  top: 23px;
}
.loading {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border: 0.3rem solid #fff;
  border-top-color: #000;
  animation: spin 1s infinite linear;
  margin: 0 auto;
  transition: all 0.6s ease-in;
  opacity: 0;
  visibility: hidden;
}
.loading.show-loading {
  opacity: 1;
  visibility: visible;
}
@-moz-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-o-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loadingText {
  display: none;
}
.tweet-box {
  background: #f7ef8a;
  margin-bottom: 30px;
}
.tweet-box h3.tweet {
  color: #000;
  display: inline-block;
  max-width: 460px;
  margin: 21px;
  text-align: left;
}
.tweet-box .tweet-button {
  display: inline-block;
  width: 22%;
  position: relative;
  top: 5px;
  left: 0;
}
@media (max-width: 500px) {
  .tweet-box .tweet-button {
    top: -15px;
    left: 20px;
  }
  .headerWrapper {
    margin-bottom: 30px;
  }
  header {
    height: 500px;
  }
  header .bird {
    width: 110px;
  }
  .introText h1 {
    font-size: 40px;
  }
  p {
    font-size: 15px;
  }
  .box {
    width: 66%;
    min-width: 292px;
    position: relative;
    left: 46%;
    transform: translateX(-50%);
  }
  .box.box__icon {
    width: 109px;
  }
}
@media (max-width: 730px) {
  .outerWrapper {
    border: none;
  }
}
